<% @page_title = "Edit orders" %>
<div class="container">
    <h5 class="title">Update Order</h5>

    <%= form_for @order do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="section"></div>
    <%= submit_tag("Update Order", class: "waves-effect waves-light blue-grey lighten-2 btn") %>

    <% end %>
    <div class="section">
        <%= link_to "Back", :back %>
    </div>
</div>
