<% @page_title = "New Order" %>
<div class="container">

    <h5 class="title">Create Order</h5>

    <%= form_for(:order, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="section">
        <%= submit_tag("Create Order", class: "waves-effect waves-light blue-grey lighten-2 btn") %>
    </div>
    <% end %>
    <div class="section">
      <%= link_to "Back", :back %>
    </div>
</div>
