<% @page_title = "Drawer App" %>

<div class="row" id="principal">
    <div class="col s2" id="botoes">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a class="waves-effect waves-light btn" id="addCol">Add Col</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="waves-effect waves-light btn" id="delCol">Del Col</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="waves-effect waves-light btn" id="addRow">Add Row</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="waves-effect waves-light btn" id="delRow">Del Row</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col s10" id="tabela">
        <table id="tableDrawer">
            <tbody>
                <tr id="myRow">
                    <td colspan="9" rowspan="8">New Cell 1</td>
                </tr>
                <tr id="myRow">
                    <td colspan="9" rowspan="8">New Cell 1</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    $("#addCol").on("click", function () {
        var count = document.getElementById("tableDrawer").rows[0].cells.length;
        // debugger;

        if (count >= 1 && count <= 8) {
            var row = document.getElementById("myRow");
            var x = row.insertCell(count);
            count++;
            x.innerHTML = "New cell " + count;
        } else {
            alert("Fabio");
        }
    });

    $("#delCol").on("click", function () {
        var count = document.getElementById("tableDrawer").rows[0].cells.length;
        // debugger;
        if (count > 1 && count <= 9) {
            document.getElementById("myRow").deleteCell(count - 1);
            count--;
        } else {
            alert("Fabio");
        }
    });

    $("#addRow").on('click', function () {
        var count = document.getElementById("tableDrawer").rows.length;
        if (count >= 1 && count < 6) {
            var table = document.getElementById("tableDrawer")
            var clnNode = document.getElementById("myRow").cloneNode(true);
            table.insertBefore(clnNode, table.lastChild);
            count++
        } else {
            alert("Fabio");
        }
    });

    $("#delRow").on('click', function () {
        var count = document.getElementById("tableDrawer").rows.length;
        if (count > 1 && count <= 6) {
            var table = document.getElementById("tableDrawer")
            table.deleteRow(count-1);
            count--;
        } else {
            alert("Fabio");
        }
    });
</script>
