// Place all the styles related to the drawer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//DRAWER APP STYLING


table#tableDrawer {
  height: 450px;
}
table#tableDrawer {
  height: 450px;
}
#myRow td{
  border: 3px solid #000;
  text-align: center;
}
div#tabela.col.s10{
  padding: 0;
}
div.col.s11{
  padding: 0;
}
#botoes table{
  height: 450px;
}
#botoes td{
  text-align: center;
}
